<div class="blurb_badge" style="position:relative; width:215px; height:120px; margin:-10px; padding:10px; background-color:white; border:1px dotted #a0a0a0;">
	<div style="position:absolute; top:10px; left:10px; padding:0px; margin:0px; width:118px; height:100px; line-height:116px; text-align:center;">
		<a href="http://www.blurb.com/bookstore/detail/749019/?utm_source=badge&utm_medium=banner&utm_content=280x160" target="_blank" style="margin:0px; border:0px; padding:0px;"> <img src="http://www.blurb.com//images/uploads/catalog/87/843787/749019-c1924eddb3280bccc04d93a0ba655e64.jpg" alt="flashes" style="padding:0px; margin:0px; border:1px solid #a7a7a7; width:116px; vertical-align:middle; white-space: normal;"/> </a>
	</div>
	<div style="position:absolute; top:58px; left:138px; overflow:hidden; margin:0px; padding:0px; border:0px; width:120px; text-align:left;">
		<div style="width:105px; overflow:hidden; line-height:18px; margin:0px; padding:0px; border:0px;">
			<a href="http://www.blurb.com/bookstore/detail/749019?utm_source=badge&utm_medium=banner&utm_content=280x160" style="font:bold 12px Arial, Helvetica, sans-serif; color: #fd7820; text-decoration:none;">flashes</a>
		</div>
		<div style="font:bold 10px Arial, Helvetica, sans-serif; color:#545454; line-height:15px; margin:0px; padding:0px; border:0px;"></div>
		<div style="font:10px Arial, Helvetica, sans-serif; color:#545454; line-height:15px; margin:0px; padding:0px; border:0px;">
			By Joshua Farr
		</div>
	</div>
	<div style="position:absolute; bottom:8px; left:138px; font:normal 10px Arial, Helvetica, sans-serif; color:#fd7820; line-height:15px; margin:0px; padding:0px; border:0px;">
		<a href="http://www.blurb.com/books/749019" force="true" only_path="false" style="color:#fd7820; text-decoration:none;" title="Book Preview">Book Preview</a>
	</div>
	<div style="position:absolute; top:10px; right:10px; padding:0px; margin:0px;">
		<a title="Make a photo book with Blurb" href="http://www.blurb.com/?utm_source=badge&utm_medium=banner&utm_content=280x160"  target="_blank" style="border:0; padding:0px; margin:0px; text-decoration:none;"> <img src="http://www.blurb.com/images/badge/blurb-logo.png" style="border:0; padding:0px; margin:0px;" alt="Make a photo book with Blurb"/> </a>
	</div>
	<div style="clear: both; border: 0px solid black;"></div>
</div>
<br />
<br />
<div class="blurb_badge" style="position:relative; width:215px; height:120px; margin:-10px; padding:10px; background-color:white; border:1px dotted #d7d0bf;">
	<div style="position:absolute; top:10px; left:10px; padding:0px; margin:0px; width:118px; height:100px; line-height:116px; text-align:center;">
		<a href="http://www.blurb.com/bookstore/detail/610586/?utm_source=badge&utm_medium=banner&utm_content=280x160" target="_blank" style="margin:0px; border:0px; padding:0px;"> <img src="http://www.blurb.com//images/uploads/catalog/87/843787/610586-624a00908916edb2f5f7f688356ec996.jpg" alt="Once Upon A Time In Mexico..." style="padding:0px; margin:0px; border:1px solid #a7a7a7; width:116px; vertical-align:middle; white-space: normal;"/> </a>
	</div>
	<div style="position:absolute; top:58px; left:138px; overflow:hidden; margin:0px; padding:0px; border:0px; width:120px; text-align:left;">
		<div style="width:105px; overflow:hidden; line-height:18px; margin:0px; padding:0px; border:0px;">
			<a href="http://www.blurb.com/bookstore/detail/610586?utm_source=badge&utm_medium=banner&utm_content=280x160" style="font:bold 12px Arial, Helvetica, sans-serif; color: #fd7820; text-decoration:none;">Once Upon A Ti...</a>
		</div>
		<div style="font:bold 10px Arial, Helvetica, sans-serif; color:#545454; line-height:15px; margin:0px; padding:0px; border:0px;">
			Sinaloa, Mexico / ...
		</div>
		<div style="font:10px Arial, Helvetica, sans-serif; color:#545454; line-height:15px; margin:0px; padding:0px; border:0px;">
			By Joshua Farr
		</div>
	</div>
	<div style="position:absolute; bottom:8px; left:138px; font:normal 10px Arial, Helvetica, sans-serif; color:#fd7820; line-height:15px; margin:0px; padding:0px; border:0px;">
		<a href="http://www.blurb.com/books/610586" force="true" only_path="false" style="color:#fd7820; text-decoration:none;" title="Book Preview">Book Preview</a>
	</div>
	<div style="position:absolute; top:10px; right:10px; padding:0px; margin:0px;">
		<a title="Make a photo book with Blurb" href="http://www.blurb.com/?utm_source=badge&utm_medium=banner&utm_content=280x160"  target="_blank" style="border:0; padding:0px; margin:0px; text-decoration:none;"> <img src="http://www.blurb.com/images/badge/blurb-logo.png" style="border:0; padding:0px; margin:0px;" alt="Make a photo book with Blurb"/> </a>
	</div>
	<div style="clear: both; border: 0px solid black;"></div>
</div>